* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #062f4b;
    --bg-color: #e3e5e9;
    --body-color: #ffffff;
    --footer-color: #252525;
    --secondary: rgb(45, 57, 219);
    --gray: rgb(192, 191, 191);

}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    font-family: 'Fjalla One', sans-serif;
    background-color: var(--body-color);
}

.primary-color {
    color: var(--primary-color) !important;
}

.secondary {
    color: var(--secondary);
    font-weight: 900;
}

.bg-color {
    background-color: var(--bg-color);
}

.gray {
    color: var(--gray);
}

.footer-color {
    background-color: var(--footer-color);
}

.object-fit {
    object-fit: cover;
}